body,
html {
    height: 100%;
    margin: 0;
}

.grid {
    width: 100%;
    height: 100%;
    display: grid;
    /*grid-template-columns: repeat(12, 1fr);*/
    /*grid-template-rows: repeat(12, 1fr);*/
    /*!*grid-template-columns: 1fr 2fr;*!*/
    /*grid-template-areas:*/
    /*    'left left left left right right right right right right right right'*/
    /*    'left left left left right right right right right right right right'*/
    /*    'left left left left right right right right right right right right'*/
    /*    'left left left left right right right right right right right right'*/
    /*    'left left left left right right right right right right right right'*/
    /*    'left left left left right right right right right right right right'*/
    /*    'left left left left right right right right right right right right'*/
    /*    'left left left left right right right right right right right right'*/
    /*    'left left left left right right right right right right right right'*/
    /*    'left left left left right right right right right right right right'*/
    /*    'left left left left right right right right right right right right'*/
    /*    'left left left left right right right right right right right right';*/
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'left right right';
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'left'
            'right';
        /*grid-template-areas:*/
        /*    'left left left left left left left left left left left left'*/
        /*    'left left left left left left left left left left left left'*/
        /*    'left left left left left left left left left left left left'*/
        /*    'left left left left left left left left left left left left'*/
        /*    'left left left left left left left left left left left left'*/
        /*    'left left left left left left left left left left left left'*/
        /*    'right right right right right right right right right right right right'*/
        /*    'right right right right right right right right right right right right'*/
        /*    'right right right right right right right right right right right right'*/
        /*    'right right right right right right right right right right right right'*/
        /*    'right right right right right right right right right right right right'*/
        /*    'right right right right right right right right right right right right';*/
    }
}

.item-1 {
    border: 10px solid springgreen;
    grid-area: left;
}

.item-2 {
    border: 10px solid cadetblue;
    grid-area: right;
}
